.background {
  background-image: url(../../public/img/books.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.alert {
  text-align: center;
  width: 75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 7rem;
  margin-right: 1rem;
}

/* textAlign: "center", width: "80rem", margin: "1rem" */

@media screen and (min-width: 700px) {
  .background {
    height: 100vh;
  }
}
