.background {
  background-image: url(../../public/img/books.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

@media screen and (min-width: 700px) {
  .background {
    height: 100vh;
  }
}
